<configuration>
  <connectionStrings>
    <add name="DicomStoreDataContextConnectionString" connectionString="User Id=root;Password=admin1,;Host=127.0.0.1;Database=dicom_store;Persist Security Info=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="common;plugins;locales"/>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>